<h1>Listing orders</h1>

<table>
  <tr>
    <th class="ord">Name</th>
    <th class="ord">Address</th>
    <th class="ord">Email</th>
    <th class="ord">Pay type</th>
    <th class="ord"></th>
    <th class="ord"></th>
    <th class="ord"></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td class="ord"><%= order.name %></td>
    <td class="ord"><%= order.address %></td>
    <td class="ord"><%= order.email %></td>
    <td class="ord"><%= order.pay_type %></td>
    <td class="ord"><%= link_to 'Show', order %></td>
    <td class="ord"><%= link_to 'Edit', edit_order_path(order) %></td>
    <td class="ord"><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
<p class="ord"><%= will_paginate @orders %></p>
