<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div id="dispic"><%= image_tag("whitetable2.jpg")%></div>

<h1>Treats for Online Order</h1>

<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url, class: 'product_image') %>
		<h3><%= product.title %></h3>
		<div class="price_line">
			<span class="price"><%= sanitize(product.description) %></span>
		</div>
		<div class="price_line">

			<span class="price"><%= number_to_currency(product.price) %></span>
			<%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
		</div>
	</div>
	<% end %>